dialog[open]::backdrop {
    backdrop-filter: blur(5px);
}

.day-night-check {
    width: 40px;
    height: 40px;
}

.alert {
    border-radius: 15px;
}

.navbar {
    height: 80px;
    z-index: 2;
    width: 70%;
    margin: auto;
}

.black-white-text {
    color: var(--card-label-color);
}

body {
    --gradient-color: linear-gradient(60deg, #ff00f5, #bd71ff, #b642e0, #774bbe, #5073b8, #1098ad, #07b39b, #6fba82);
    --stick-gradient: linear-gradient(60deg, #ff00f5, #bd71ff, #b642e0, #774bbe, #5073b8, #1098ad, #07b39b, #6fba82);
    --background-color: #18181B;
    --background-color-blur: rgba(0, 0, 0, 0.5);
    --products-background-color: #202023;
    --text-color: #A1A1AA;
    --text-shadow-color: rgba(255, 255, 255, 0.4);
    --dropdown-background-color: rgba(255, 255, 255, 0.3);


    --table-sel-col: rgba(255, 255, 255, 0.2);
    --table-sel-back: rgba(255, 255, 255, 0.3);

    --card-background-color: rgba(255, 255, 255, .015);
    --navbar-background-color: #0c0c0e;
    --blur-color: rgba(15, 15, 15, 0.8);
    --form-input-color: rgba(255, 255, 255, 0.07);
    --linyx-color: rgba(196, 186, 255, 1);

    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #FFFFFF;
    --card-icon-color: #D4D4D8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: .1;
    --card-shine-gradient: none;
    --card-line-color: rgba(255, 255, 255, 0.3);
    --card-tile-color: rgba(186, 17, 181, 0.05);
    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-color: white;
    --card-hover-icon-background-color: rgba(255, 255, 255, 0.1);
    --card-hover-icon-border-color: rgba(255, 255, 255, 0.2);
    --blur-opacity: .01;
}

body.light {
    --card-background-color: rgba(0, 0, 0, .015);
    --background-color: #FAFAFA;
    --background-color-blur: rgba(0, 0, 0, 0.05);
    --products-background-color: #f0f0f0;
    --text-color: #52525B;
    --text-shadow-color: rgba(0, 0, 0, 0.1);
    --dropdown-background-color: rgba(0, 0, 0, 0.13);

    --table-sel-col: rgba(0, 0, 0, 0.06);
    --table-sel-back: rgba(0, 0, 0, 0.1);

    --navbar-background-color: #ededed;
    --blur-color: rgba(255, 255, 255, 0.8);
    --form-input-color: rgba(0, 0, 0, 0.1);
    --linyx-color: rgba(196, 186, 255, 1);
    /*--linyx-color: rgba(146, 56, 175, 1);*/

    --card-border-color: rgba(24, 24, 27, 0.08);
    --card-box-shadow-1: rgba(24, 24, 27, 0.02);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(24, 24, 27, 0.04);
    --card-box-shadow-2-y: 2px;
    --card-box-shadow-2-blur: 7px;
    --card-label-color: #18181B;
    --card-icon-color: #18181B;
    --card-icon-background-color: rgba(24, 24, 27, 0.04);
    --card-icon-border-color: rgba(24, 24, 27, 0.1);
    --card-shine-opacity: .3;
    --card-shine-gradient: conic-gradient(from 225deg at 50% 50%, rgba(186, 17, 181, 0) 0deg, #cd90d9 25deg, #EDFAF6 285deg, #FFFFFF 345deg, rgba(16, 185, 129, 0) 360deg);
    --card-line-color: rgba(0, 0, 0, 0.1);
    --card-tile-color: rgba(0, 0, 0, 0.1);
    --card-hover-border-color: rgba(0, 0, 0, 0.1);
    --card-hover-box-shadow-1: rgba(24, 24, 27, 0.05);
    --card-hover-box-shadow-1-y: 3px;
    --card-hover-box-shadow-1-blur: 6px;
    --card-hover-box-shadow-2: rgba(24, 24, 27, 0.1);
    --card-hover-box-shadow-2-y: 8px;
    --card-hover-box-shadow-2-blur: 15px;
    --card-hover-icon-color: #18181B;
    --card-hover-icon-background-color: rgba(24, 24, 27, 0.04);
    --card-hover-icon-border-color: rgba(24, 24, 27, 0.34);
    --blur-opacity: .1;
}

body.toggle .grid * {
    transition-duration: 0s !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.card {
    background-color: var(--background-color);
    box-shadow: 0 var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0 var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
    padding: 24px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
    width: calc(25% - 20px);
}

.card .icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 8px;
}

.card .icon::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--card-icon-background-color);
    border: 1px solid var(--card-icon-border-color);
    backdrop-filter: blur(2px);
    transition: background-color 0.25s, border-color 0.25s;
}

.card .icon svg {
    position: relative;
    z-index: 1;
    display: block;
    width: 24px;
    height: 24px;
    transform: translateZ(0);
    color: var(--card-icon-color);
    transition: color 0.25s;
}

.card h4 {
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    color: var(--card-label-color);
}

.card p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
}

.card .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.card .shine:before {
    content: "";
    width: 150%;
    padding-bottom: 150%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 55%;
    filter: blur(35px);
    opacity: var(--card-shine-opacity);
    transform: translateX(-50%);
    background-image: var(--card-shine-gradient);
}

.card .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}

.card .background .tiles {
    opacity: 0;
    transition: opacity 0.25s;
}

.card .background .tiles .tile {
    position: absolute;
    background-color: var(--card-tile-color);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.card .background .tiles .tile.tile-4, .card .background .tiles .tile.tile-6, .card .background .tiles .tile.tile-10 {
    animation-delay: -2s;
}

.card .background .tiles .tile.tile-3, .card .background .tiles .tile.tile-5, .card .background .tiles .tile.tile-8 {
    animation-delay: -4s;
}

.card .background .tiles .tile.tile-2, .card .background .tiles .tile.tile-9 {
    animation-delay: -6s;
}

.card .background .tiles .tile.tile-1 {
    top: 0;
    left: 0;
    height: 10%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-2 {
    top: 0;
    left: 22.5%;
    height: 10%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-3 {
    top: 0;
    left: 50%;
    height: 10%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-4 {
    top: 0;
    left: 77.5%;
    height: 10%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-5 {
    top: 10%;
    left: 0;
    height: 22.5%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-6 {
    top: 10%;
    left: 22.5%;
    height: 22.5%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-7 {
    top: 10%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-8 {
    top: 10%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-9 {
    top: 32.5%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-10 {
    top: 32.5%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
}

@keyframes tile {
    0%, 12.5%, 100% {
        opacity: 1;
    }
    25%, 82.5% {
        opacity: 0;
    }
}

.card .background .line {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.35s;
}

.card .background .line:before, .card .background .line:after {
    content: "";
    position: absolute;
    background-color: var(--card-line-color);
    transition: transform 0.35s;
}

.card .background .line:before {
    left: 0;
    right: 0;
    height: 1px;
    transform-origin: 0 50%;
    transform: scaleX(0);
}

.card .background .line:after {
    top: 0;
    bottom: 0;
    width: 1px;
    transform-origin: 50% 0;
    transform: scaleY(0);
}

.card .background .line.line-1:before {
    top: 10%;
}

.card .background .line.line-1:after {
    left: 22.5%;
}

.card .background .line.line-1:before, .card .background .line.line-1:after {
    transition-delay: 0.3s;
}

.card .background .line.line-2:before {
    top: 32.5%;
}

.card .background .line.line-2:after {
    left: 50%;
}

.card .background .line.line-2:before, .card .background .line.line-2:after {
    transition-delay: 0.15s;
}

.card .background .line.line-3:before {
    top: 55%;
}

.card .background .line.line-3:after {
    right: 22.5%;
}

.card:hover {
    box-shadow: 0 3px 6px var(--card-hover-box-shadow-1), 0 var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}

.card:hover .icon::after {
    background-color: var(--card-hover-icon-background-color);
    border-color: var(--card-hover-icon-border-color);
}

.card:hover .icon svg {
    color: var(--card-hover-icon-color);
}

.card:hover .shine {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.card:hover .background .tiles {
    opacity: 1;
    transition-delay: 0.25s;
}

.card:hover .background .tiles .tile {
    animation-name: tile;
}

.card:hover .background .line {
    opacity: 1;
    transition-duration: 0.15s;
}

.card:hover .background .line:before {
    transform: scaleX(1);
}

.card:hover .background .line:after {
    transform: scaleY(1);
}

.card:hover .background .line.line-1:before, .card:hover .background .line.line-1:after {
    transition-delay: 0s;
}

.card:hover .background .line.line-2:before, .card:hover .background .line.line-2:after {
    transition-delay: 0.15s;
}

.card:hover .background .line.line-3:before, .card:hover .background .line.line-3:after {
    transition-delay: 0.3s;
}

.day-night {
    cursor: pointer;
    opacity: 0.8;
}

.day-night input {
    display: none;
}

.day-night input + div {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    box-shadow: inset 8px -8px 0 0 var(--text-color);
    transform: scale(1) rotate(-2deg);
    transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}

.day-night input + div:before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color 0.3s ease;
}

.day-night input + div:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: -3px 0 0 -3px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 -23px 0 var(--text-color), 0 23px 0 var(--text-color), 23px 0 0 var(--text-color), -23px 0 0 var(--text-color), 15px 15px 0 var(--text-color), -15px 15px 0 var(--text-color), 15px -15px 0 var(--text-color), -15px -15px 0 var(--text-color);
    transform: scale(0);
    transition: all 0.3s ease;
}

.day-night input:checked + div {
    box-shadow: inset 20px -20px 0 0 var(--text-color);
    transform: scale(0.5) rotate(0deg);
    transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}

.day-night input:checked + div:before {
    background: var(--text-color);
    transition: background-color 0.3s ease 0.1s;
}

.day-night input:checked + div:after {
    transform: scale(1);
    transition: transform 0.5s ease 0.15s;
}

body .navbar {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 15px 35px;
}


.left-div {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.navbar-brand {
    color: var(--card-label-color);
    text-decoration: none;
}

.navbar-brand:hover {
    color: var(--card-label-color);
    text-decoration: none;
}

.navbar-shapes {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.navbar-shape {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

.navbar-shape:nth-child(1) {
    background: linear-gradient(#7d57c5, #cd90d9);
    left: 70vh;
    top: 2vh;
}

.navbar-shape:nth-child(2) {
    background: linear-gradient(to right, #7d57c5, #cd90d9);
    left: 35vh;
    top: 3.2vh;
}


.navbar-shape:nth-child(3) {
    background: linear-gradient(to right, #8a359c, #cd90d9);
    left: 110vh;
    top: 0.5vh;
}

.navbar-shape:nth-child(6) {
    background: linear-gradient(to right, #8a359c, #cd90d9);
    left: 140vh;
    top: 2.5vh;
}


.navbar-shape:nth-child(4) {
    background: linear-gradient(#8a359c, #cd90d9);
    left: 160vh;
    top: 3vh;
}

.navbar-shape:nth-child(5) {
    background: linear-gradient(to right, #7d57c5, #cd90d9);
    left: 85vh;
    top: 1vh;
}

#linyx {
    font-family: 'Monoton', cursive;
    font-size: 55px;
    animation: glow 3s infinite;
    color: var(--linyx-color);

}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 10px rgba(196, 105, 255, 0.7);
    }
    50% {
        text-shadow: 0 0 20px rgba(196, 105, 255, 1),
        0 0 30px rgba(196, 105, 255, 0.7);
    }
}

.intro-block {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.intro-block button {
    font-size: 24px;
}

body {
    font-family: "Inter", Arial, serif;
    background-color: var(--background-color);
    overflow-x: hidden;
    user-select: none;
}

.parallax {
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    top: -80px;
    z-index: 1;
}

.background-blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
}

.hi-div {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    background-color: var(--blur-color);
    position: relative;
}

.hi-pic {
    margin-left: 50px;
    background: rgba(0, 0, 0, 0);
}

.hi-text {
    width: 100%;
}

.hi-box {
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    background-color: var(--blur-color);
    position: relative;
    width: 40%;
}

.buttons-row {
    width: 100%;
}

.community-choice {
    width: fit-content;
}

.stick-light {
    width: 260px;
    height: 4px;
    box-shadow: 0 0 50px #ffffff;
    background-color: #7d57c5;
    margin-bottom: 30px;
}

.product-table {
    margin-bottom: 50px;
}

.all-products-button {
}

.cart-button {
    min-width: 50px;
    height: 50px;
}

.cart-button svg:hover {
    stroke: #e5e5e5;
    filter: drop-shadow(0px 0px 4px #e5e5e5);
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}


.popup.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.popup.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alerts, .day-night-check {
    position: fixed;
    z-index: 2;
}

.day-night-check {
    top: 25px;
    left: 25px;
}

footer li a {
    color: var(--card-label-color);
}

.icon-link {
    width: 50px;
    height: 50px;
}

.tg svg:hover {
    stroke: #0088cc;
}

.ds svg:hover {
    stroke: #7289da;
}

.tg svg, .ds svg, .cart-button svg {
    transition: all .3s ease;
}

.ip-text {
    transition: opacity 0.5s ease-in-out;
}

.btn-outline-light:focus, .btn-outline-light:active, .btn-outline-dark:focus, .btn-outline-dark:active {
    box-shadow: none;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.modal-backdrop {
    background: var(--blur-color);
}

.modal-backdrop.show {
    opacity: .4;
}

.iframe-body {
    background: none transparent !important;
    height: 100%;
}


#productDialog {
    outline: none;
    overflow: hidden;
    padding: 20px;
    width: 40%;
    height: 60%;
    background: transparent;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.dialog-iframe {
    background: transparent;
    border: 1px black;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.detail-html {
}

.product-table-list {
    margin-top: 80px;
}

.btn-more {
    width: fit-content;
}

.svg-link {
    width: 50px;
    height: 50px;
}

.more-info {
    z-index: 2;
}

@keyframes animatedgradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.stick-light-sm {
    width: 100%;
    height: 4px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
    position: relative;
}

.stick-light-sm::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--stick-gradient);
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    border-radius: 2px;
}

.w2 {
    width: 16.66%;
    max-width: 16.66%;
}

.w8 {
    width: 83.34%;
    max-width: 83.34%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    ms-overflow-style: none;
    scrollbar-width: none;
}

.w8, #productDetails {
    border: 0 !important;
    outline: 0 !important;
}

.w8::-webkit-scrollbar {
    width: 0;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.hidden {
    display: none;
}

#productDetails {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: var(--products-background-color);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.w8 #productDetails {
    background-color: var(--products-background-color) !important;
}

.product-table #productDetails {
    background-color: var(--background-color) !important;
}

.product-image img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.all-products-container {
    min-height: 85vh !important;
    max-height: 85vh !important;
}

@keyframes animatedgradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.description-card-text, .description-card-price {
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.description-card-text {
    max-height: 75% !important;
    ms-overflow-style: none;
    scrollbar-width: none;
}

.desc-text {
    width: 50%;
}

.desc-text-privilege {
    width: 100%;
}

.description-card-text::-webkit-scrollbar {
    width: 0;
}

.description-card-price {
    overflow-y: hidden !important;
}

.product-info {
    height: 90%;
    overflow: hidden;
}

.product-info h4 {
    margin-left: 10px;
    margin-top: 10px;
}


@keyframes fade-In {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-Out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.product-details {
    animation: fade-In 0.3s ease forwards;
}

.product-details.hidden {
    animation: fade-Out 0.3s ease forwards;
}

.card-name {
    line-height: 1.2 !important;
}

.product-info {
    flex-direction: row;
}

.logo {
    height: 60px;
    width: auto;
}

.logo img {
    height: 60px;
    width: auto;
    border-radius: 10px;
}

#navbarNavDropdown {
    width: fit-content;
}

.pc-navbar {
    width: fit-content;
}

@media (min-width: 577px) {
    .stick-light-sm-m {
        display: none !important;
    }

    .dropdown {
        display: none;
    }

    .category-filter-pc {
        flex-direction: column;
    }

    .category-filter-m {
        display: none !important;
    }

    .product-grid-pc {
        display: flex;
    }

    .product-grid-m {
        display: none;
    }

    .cart-button {
        position: absolute;
        left: calc(50% - 25px);
    }
}


@media (max-width: 576px) {
    .stick-light-sm {
        margin-bottom: 10px !important;
    }

    .product-container-1 {
        position: relative;
        margin-bottom: 50px !important;
    }

    .servers {
        position: relative;
        margin-bottom: 50px !important;
        margin-top: 0 !important;
    }

    .circle2-3, .circle2-2, .circle2-1, .circle1-3, .circle1-2, .circle1-1 {
        display: none;
    }

    .gradient-shulker, .gradient-vega, .gradient-eola, .gradient-chorus, .gradient-hydra, .gradient-fenix, .gradient-leviathan, .gradient-satira {
        font-size: 20px !important;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .pc-navbar, .nav-item {
        display: none;
        width: 0 !important;
    }

    .dropdown-toggle {
        display: block !important;
    }

    .navbar {
        width: 100%;
        border-radius: 0 !important;
    }

    .all-products-container {
        flex-direction: column !important;
    }

    .product-info {
        flex-direction: column;
    }

    .navbar-shapes {
        display: none;
    }

    .card {
        width: calc(50% - 20px);
        padding: 16px;
    }

    .w8, .w2 {
        max-width: 100%;
        width: 100%;
    }

    .category-filter-m {
        flex-direction: row;
    }

    .category-filter-pc {
        display: none !important;
    }

    .sort-btn {
        width: 45% !important;
    }

    .description-card-text, .description-card-price {
        font-size: 15px;
    }

    .description-card-text {
        height: 100% !important;
    }

    .desc-text-privilege {
        height: 100% !important;
    }

    .gradient-eola {
        font-size: 30px;
    }

    .product-image {
        width: auto;
        height: 70%;
        overflow: hidden;
        padding: 0 !important;
    }

    .product-image img {
        height: 100%;
        width: auto;
    }

    .shapes {
        display: none;
    }

    .day-night-check {
        left: 0;
        top: 5px;
    }

    .hi-box {
        width: 90%;
        padding: 30px !important;
    }

    .hi-text {
        width: 100%;
    }

    .hi-box .hi-pic {
        display: none;
    }

    .hi-box .hi-text .buttons-row button {
        font-size: 17px;
    }

    .product-grid-pc {
        display: none;
    }

    .product-grid-m {
        display: flex;
        margin: 0;
    }

    .desc-text {
        max-height: 70%;
        width: 100%;
        padding: 0 !important;
    }

    .desc-text .description-card-price {
        margin-top: 5px;
        margin-bottom: 5px;
        min-height: 20%;
    }

    .product-image-main {
        width: 100% !important;
        height: auto;
    }

    .steve-div {
        display: none;
    }

    .account-local {
        width: 100%;
        align-items: center;
    }

    .account-list {
        width: 100% !important;
    }

    #productGrid {
        margin-left: 0 !important;
    }

    .close-link {
        left: 92% !important;
        top: 5px !important;
    }

    .product-name-image {
        flex-direction: column !important;
    }

    .product-image-main {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .main {
        width: 100% !important;
    }
}

.dropdown-toggle {
    width: 30px;
    height: 21px;
    position: relative;
    overflow: hidden;
    padding: 0 !important;
    border: none;
    outline: none;
}

body.index .dropdown-item {
    color: white;
}

.popup {
    transition: opacity 0.5s ease-in-out;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-toggle {
    background-color: transparent !important;
}

body.not-index .dropdown-item {
}

.dropdown-item {
    background-color: var(--card-background-color) !important;
}

.btn-line {
    background-color: rgba(0, 0, 0, 0.5);
    height: 3px;
    width: 80%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0;
    }
}


.gradient-border {
    --borderWidth: 4px;
    background: var(--products-background-color);
    position: relative;
    border-radius: var(--borderWidth);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: var(--gradient-color);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

.dropdown-menu {
    background-color: var(--dropdown-background-color) !important;
    backdrop-filter: blur(5px);
    top: 5vh !important;
    left: -25vw !important;
}

#dropdownMenuButton:active {
    background-color: transparent;
}

.community-img img {
    width: 10vw;
    height: auto;
    z-index: 5 !important;
}

.account-list {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.account-list th, .account-list td {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.account-list th {
    text-align: left;
}

.account-list thead th {
    background-color: var(--card-background-color);
}

.account-list tbody tr:hover {
    background-color: var(--table-sel-back);
}

.account-list tbody td {
    position: relative;
}

.account-list tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: var(--table-sel-col);
    z-index: -1;
}

.account-list-title {
    width: fit-content;
    margin-bottom: 20px;
    margin-top: 20px;
}

.blur-account {
    margin-top: 30px;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 80%;
    max-height: 20%;
}

.steve {
    height: 25vh;
    width: auto;
}

.productGrid {
    margin-left: 0;
}

.close-dialog {
    stroke: red;
}

.close-link {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
}

.main {
    background-color: var(--card-background-color);
    width: 20%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.servers-head {
    width: fit-content;
}

.text-server {
    text-align: center;
}

.product-details.fade-Out {
    animation: fade-Out 0.3s ease forwards;
}

.lazy-load {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.lazy-load .loaded {
    opacity: 1;
}

body, .hi-box {
    transition: background-color 0.5s ease;
}

.change-color {
    transition: color 0.5s ease;
}

.error-handle {
    width: fit-content;
}

.servers-svg {
    width: 40px;
    height: 40px;
}

.servers-svg svg {
    stroke: var(--card-icon-color);
}

.product-image-main {
    width: 50%;
}

@font-face {
    font-family: 'Minecraft Rus Regular';
    src: url('../fonts/minecraft_rus_regular.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/minecraft_rus_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/minecraft_rus_regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/minecraft_rus_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/minecraft_rus_regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/minecraft_rus_regular.svg#minecraft_rus_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

.description-card-text {
    font-family: 'Minecraft Rus Regular', serif;
}


.gradient-shulker {
    display: inline-block;
    background: linear-gradient(60deg, #ffd600, #fadc00, #f4e200, #eee800, #e7ee00, #e0f300, #d8f900, #cfff0f);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-shulker {
    text-shadow: 0 0 20px #ffd600;
}

body .gradient-shulker {
    text-shadow: 0 0 20px #cfff0f;
}

body.light .shulker-background {
    background-color: rgba(0, 0, 0, 0.15);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

.gradient-vega {
    display: inline-block;
    background: linear-gradient(60deg, #009420, #12a124, #1faf29, #2bbc2d, #36ca32, #41d836, #4be63a, #56f43e);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-vega {
    text-shadow: 0 0 20px #009420;
}

body .gradient-vega {
    text-shadow: 0 0 20px #56f43e;
}

.gradient-eola {
    display: inline-block;
    background: linear-gradient(60deg, #00a1e6, #00aeed, #00bbf1, #00c7f3, #00d3f2, #00dfef, #00eaea, #00f5e4);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-eola {
    text-shadow: 0 0 20px #00a1e6;
}

body .gradient-eola {
    text-shadow: 0 0 20px #00f5e4;
}

.gradient-chorus {
    display: inline-block;
    background: linear-gradient(60deg, #8b45fc, #9445fc, #9c45fc, #a445fc, #ab45fc, #b345fc, #ba45fc, #c145fc);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-chorus {
    text-shadow: 0 0 20px #8b45fc;
}

.gradient-hydra {
    display: inline-block;
    background: linear-gradient(60deg, #1adbce, #00ccd0, #00bcd0, #00accd, #009cc7, #008cbe, #067bb3, #2d6ba4);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-hydra {
    text-shadow: 0 0 20px #2d6ba4;
}

body .gradient-hydra {
    text-shadow: 0 0 20px #1adbce;
}

.gradient-fenix {
    display: inline-block;
    background: linear-gradient(60deg, #ea5906, #da4d0c, #cb410f, #bb3511, #ab2a11, #9a1e11, #8a120f, #7a050d);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-fenix {
    text-shadow: 0 0 20px #7a050d;
}

body .gradient-fenix {
    text-shadow: 0 0 20px #ea5906;
}

.gradient-leviathan {
    display: inline-block;
    background: linear-gradient(60deg, #5e16f8, #6f43f9, #7c62fb, #857efc, #8c99fc, #91b4fc, #93cefc, #92e9fc);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-leviathan {
    text-shadow: 0 0 20px #5e16f8;
}

body .gradient-leviathan {
    text-shadow: 0 0 20px #92e9fc;
}

.gradient-satira {
    display: inline-block;
    background: linear-gradient(60deg, #860918, #920617, #9d0416, #a90114, #b40011, #bf000d, #cb0007, #d60000);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 75px;
}

body.light .gradient-satira {
    text-shadow: 0 0 20px #860918;
}

body .gradient-satira {
    text-shadow: 0 0 20px #d60000;
}

.product-name {
    display: inline-block;
    font-family: 'Comfortaa', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 50px;
}

.shulker-color {
    color: #ffd600 !important;
    text-decoration: none;
}

.shulker-hover {
    --card-hover-icon-color: #ffd600 !important;
    --card-hover-icon-background-color: rgba(255, 214, 0, 0.1);
    --card-hover-icon-border-color: rgba(255, 214, 0, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(255, 214, 0, 0) 0deg, #ffd600 25deg, rgba(255, 214, 0, 0.18) 295deg, rgba(255, 214, 0, 0) 360deg);
    --card-tile-color: rgba(255, 214, 0, 0.05);
}

.shulker-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #ffd600, #fadc00, #f4e200, #eee800, #e7ee00, #e0f300, #d8f900, #cfff0f);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-shulker {
    --gradient-color: linear-gradient(60deg, #ffd600, #fadc00, #f4e200, #eee800, #e7ee00, #e0f300, #d8f900, #cfff0f) !important;
    --stick-gradient: linear-gradient(60deg, #ffd600, #fadc00, #f4e200, #eee800, #e7ee00, #e0f300, #d8f900, #cfff0f) !important;
}

.vega-color {
    color: #009420 !important;
    text-decoration: none;
}

.vega-hover {
    --card-hover-icon-color: #009420 !important;
    --card-hover-icon-background-color: rgba(0, 148, 32, 0.1);
    --card-hover-icon-border-color: rgba(0, 148, 32, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(0, 148, 32, 0) 0deg, #009420 25deg, rgba(0, 148, 32, 0.18) 295deg, rgba(0, 148, 32, 0) 360deg);
    --card-tile-color: rgba(0, 148, 32, 0.05);
}

.vega-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #009420, #12a124, #1faf29, #2bbc2d, #36ca32, #41d836, #4be63a, #56f43e);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-vega {
    --gradient-color: linear-gradient(60deg, #009420, #12a124, #1faf29, #2bbc2d, #36ca32, #41d836, #4be63a, #56f43e) !important;
    --stick-gradient: linear-gradient(60deg, #009420, #12a124, #1faf29, #2bbc2d, #36ca32, #41d836, #4be63a, #56f43e) !important;
}

.eola-color {
    color: #00a1e6 !important;
    text-decoration: none;
}

.eola-hover {
    --card-hover-icon-color: #00a1e6 !important;
    --card-hover-icon-background-color: rgba(0, 161, 230, 0.1);
    --card-hover-icon-border-color: rgba(0, 161, 230, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(0, 161, 230, 0) 0deg, #00a1e6 25deg, rgba(0, 161, 230, 0.18) 295deg, rgba(0, 161, 230, 0) 360deg);
    --card-tile-color: rgba(0, 161, 230, 0.05);
}

.eola-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #00a1e6, #00aeed, #00bbf1, #00c7f3, #00d3f2, #00dfef, #00eaea, #00f5e4);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-eola {
    --gradient-color: linear-gradient(60deg, #00a1e6, #00aeed, #00bbf1, #00c7f3, #00d3f2, #00dfef, #00eaea, #00f5e4) !important;
    --stick-gradient: linear-gradient(60deg, #00a1e6, #00aeed, #00bbf1, #00c7f3, #00d3f2, #00dfef, #00eaea, #00f5e4) !important;
}

.chorus-color {
    color: #8b45fc !important;
    text-decoration: none;
}

.chorus-hover {
    --card-hover-icon-color: #8b45fc !important;
    --card-hover-icon-background-color: rgba(139, 69, 252, 0.1);
    --card-hover-icon-border-color: rgba(139, 69, 252, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(139, 69, 252, 0) 0deg, #8b45fc 25deg, rgba(139, 69, 252, 0.18) 295deg, rgba(139, 69, 252, 0) 360deg);
    --card-tile-color: rgba(139, 69, 252, 0.05);
}

.chorus-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #8b45fc, #9445fc, #9c45fc, #a445fc, #ab45fc, #b345fc, #ba45fc, #c145fc);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-chorus {
    --gradient-color: linear-gradient(60deg, #8b45fc, #9445fc, #9c45fc, #a445fc, #ab45fc, #b345fc, #ba45fc, #c145fc) !important;
    --stick-gradient: linear-gradient(60deg, #8b45fc, #9445fc, #9c45fc, #a445fc, #ab45fc, #b345fc, #ba45fc, #c145fc) !important;
}

.hydra-color {
    color: #00bcd0 !important;
    text-decoration: none;
}

.hydra-hover {
    --card-hover-icon-color: #00bcd0 !important;
    --card-hover-icon-background-color: rgba(0, 188, 208, 0.1);
    --card-hover-icon-border-color: rgba(0, 188, 208, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(0, 188, 208, 0) 0deg, #00bcd0 25deg, rgba(0, 188, 208, 0.18) 295deg, rgba(0, 188, 208, 0) 360deg);
    --card-tile-color: rgba(0, 188, 208, 0.05);
}

.hydra-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #1adbce, #00ccd0, #00bcd0, #00accd, #009cc7, #008cbe, #067bb3, #2d6ba4);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-hydra {
    --gradient-color: linear-gradient(60deg, #1adbce, #00ccd0, #00bcd0, #00accd, #009cc7, #008cbe, #067bb3, #2d6ba4) !important;
    --stick-gradient: linear-gradient(60deg, #1adbce, #00ccd0, #00bcd0, #00accd, #009cc7, #008cbe, #067bb3, #2d6ba4) !important;
}

.fenix-color {
    color: #ea5906 !important;
    text-decoration: none;
}

.fenix-hover {
    --card-hover-icon-color: #ea5906 !important;
    --card-hover-icon-background-color: rgba(234, 89, 6, 0.1);
    --card-hover-icon-border-color: rgba(234, 89, 6, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(234, 89, 6, 0) 0deg, #ea5906 25deg, rgba(234, 89, 6, 0.18) 295deg, rgba(234, 89, 6, 0) 360deg);
    --card-tile-color: rgba(234, 89, 6, 0.05);
}

.fenix-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #ea5906, #da4d0c, #cb410f, #bb3511, #ab2a11, #9a1e11, #8a120f, #7a050d);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-fenix {
    --gradient-color: linear-gradient(60deg, #ea5906, #da4d0c, #cb410f, #bb3511, #ab2a11, #9a1e11, #8a120f, #7a050d) !important;
    --stick-gradient: linear-gradient(60deg, #ea5906, #da4d0c, #cb410f, #bb3511, #ab2a11, #9a1e11, #8a120f, #7a050d) !important;
}

.leviathan-color {
    color: #7c62fb !important;
    text-decoration: none;
}

.leviathan-hover {
    --card-hover-icon-color: #7c62fb !important;
    --card-hover-icon-background-color: rgba(124, 98, 251, 0.1);
    --card-hover-icon-border-color: rgba(124, 98, 251, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(124, 98, 251, 0) 0deg, #5e16f8 25deg, rgba(124, 98, 251, 0.18) 295deg, rgba(124, 98, 251, 0) 360deg);
    --card-tile-color: rgba(124, 98, 251, 0.05);
}

.leviathan-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #5e16f8, #6f43f9, #7c62fb, #857efc, #8c99fc, #91b4fc, #93cefc, #92e9fc);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-leviathan {
    --gradient-color: linear-gradient(60deg, #5e16f8, #6f43f9, #7c62fb, #857efc, #8c99fc, #91b4fc, #93cefc, #92e9fc) !important;
    --stick-gradient: linear-gradient(60deg, #5e16f8, #6f43f9, #7c62fb, #857efc, #8c99fc, #91b4fc, #93cefc, #92e9fc) !important;
}

.satira-color {
    color: #a90114 !important;
    text-decoration: none;
}

.satira-hover {
    --card-hover-icon-color: #a90114 !important;
    --card-hover-icon-background-color: rgba(169, 1, 20, 0.1);
    --card-hover-icon-border-color: rgba(169, 1, 20, 0.2);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(134, 9, 24, 0) 0deg, #860918 25deg, rgba(134, 9, 24, 0.18) 295deg, rgba(134, 9, 24, 0) 360deg);
    --card-tile-color: rgba(169, 1, 20, 0.05);
}

.satira-color-anim {
    display: inline-block;
    background: linear-gradient(60deg, #860918, #920617, #9d0416, #a90114, #b40011, #bf000d, #cb0007, #d60000);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
}

.gradient-color-satira {
    --gradient-color: linear-gradient(60deg, #860918, #920617, #9d0416, #a90114, #b40011, #bf000d, #cb0007, #d60000) !important;
    --stick-gradient: linear-gradient(60deg, #860918, #920617, #9d0416, #a90114, #b40011, #bf000d, #cb0007, #d60000) !important;
}

.icon-server, .image-server, #rest {
    width: 100%;
}

body .white-hover {
    --card-hover-icon-color: #e6e6e6 !important;
    --card-hover-icon-background-color: rgba(230, 230, 230, 0.1);
    --card-hover-icon-border-color: rgba(255, 255, 255, 0.7);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(230, 230, 230, 0) 0deg, #e6e6e6 25deg, rgba(230, 230, 230, 0.18) 295deg, rgba(230, 230, 230, 0) 360deg);
    --card-tile-color: rgba(230, 230, 230, 0.05);
}

body.light .white-hover {
    --card-hover-icon-color: rgba(0, 0, 0, 0.8) !important;
    --card-hover-icon-background-color: rgba(0, 0, 0, 0.2);
    --card-hover-icon-border-color: rgba(0, 0, 0, 0.5);
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(230, 230, 230, 0) 0deg, #e6e6e6 25deg, rgba(230, 230, 230, 0.18) 295deg, rgba(230, 230, 230, 0) 360deg);
    --card-tile-color: rgba(230, 230, 230, 0.05);
}

.gradient-white {
    display: inline-block;
    background: linear-gradient(60deg, #ffffff, #f2f2f2, #e5e5e5, #d8d8d8, #cbcbcb, #bfbfbf, #b2b2b2, #a6a6a6);
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;;
    font-family: 'Minecraft Rus Regular', serif;
    text-shadow: 0 0 20px var(--text-shadow-color);
    font-size: 50px;
}

.gradient-color-white {
    --gradient-color: linear-gradient(60deg, #ffffff, #f2f2f2, #e5e5e5, #d8d8d8, #cbcbcb, #bfbfbf, #b2b2b2, #a6a6a6) !important;
}

.circle1-1 {
    position: absolute;
    top: calc(-6vh - 20px);
    left: calc(-6vh + 10px);
    width: 12vh;
    height: 12vh;
    background: linear-gradient(120deg, #5e16f8, #6f43f9, #7c62fb, #857efc, #8c99fc, #91b4fc, #93cefc, #92e9fc);
    border-radius: 50%;
    z-index: -10;
    margin-top: 20px;
}

.circle2-1 {
    position: absolute;
    bottom: calc(-8.5vh + 10px);
    right: calc(-8.5vh + 20px);
    width: 17vh;
    height: 17vh;
    background: linear-gradient(-60deg, #5e16f8, #6f43f9, #7c62fb, #857efc, #8c99fc, #91b4fc, #93cefc, #92e9fc);
    border-radius: 50%;
    z-index: -10;
}

.circle1-2 {
    position: absolute;
    top: calc(-7.5vh - 0px);
    left: calc(-7.5vh + 10px);
    width: 15vh;
    height: 15vh;
    background: linear-gradient(135deg, #5e16f8, #6b21ee, #792ce5, #8637db, #9441d1, #a14cc7, #af57be, #bc62b4);
    border-radius: 50%;
    z-index: -10;
}

.circle2-2 {
    position: absolute;
    bottom: calc(-5vh + 10px);
    right: calc(-5vh + 20px);
    width: 11vh;
    height: 11vh;
    background: linear-gradient(60deg, #92e9fc, #7edbfe, #75cbff, #79bafc, #87a7f5, #9a92e6, #ad7bd0, #bc62b4);
    border-radius: 50%;
    z-index: -10;
}

.servers {
    position: relative;
    margin-bottom: 50px;
    margin-top: 100px;
}

.servers-2 {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    background-color: rgba(255, 255, 255, 0.13);;
    backdrop-filter: blur(10px);
}

.product-container {
    top: -80px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    background-color: rgba(255, 255, 255, 0.13);;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.product-container-1 {
    position: relative;
    margin-bottom: 100px;
}

.products-table-main {
    width: 100%;
    height: 100%;
}

.products-back {
    position: relative;
}

.circle1-3 {
    position: absolute;
    top: calc(-5vh - 0px);
    left: calc(-5vh + 20px);
    width: 10vh;
    height: 10vh;
    background: linear-gradient(135deg, #5e16f8, #6b21ee, #792ce5, #8637db, #9441d1, #a14cc7, #af57be, #bc62b4);
    border-radius: 50%;
    z-index: -10;
}

.circle2-3 {
    position: absolute;
    bottom: calc(-5vh + 10px);
    right: calc(-5vh + 20px);
    width: 10vh;
    height: 10vh;
    background: linear-gradient(60deg, #92e9fc, #7edbfe, #75cbff, #79bafc, #87a7f5, #9a92e6, #ad7bd0, #bc62b4);
    border-radius: 50%;
    z-index: -10;
}

.sort-btn-m .btn {
    width: 5vh !important;
    height: 5vh;
    padding: 0;
}

.confirm-text {
    text-decoration: none;
    font-size: 30px;
}

.confirm-text-a {
    text-decoration: none;
    font-size: 50px;
}

.confirm-text-gray {
    color: gray;
    text-decoration: none;
    font-size: 15px;
}

.waiting-pic {
    max-height: 30vh;
}

.waiting-pic img {
    height: 30vh;
    width: auto;
}