<!-- login.html -->
{% extends 'base.html' %}
{% block title %}Принять{% endblock %}
{% block content %}
    <div><a id="confirmationMessage">Ожидание подтверждения</a></div>
    <p>Ник: {{ nickname }}</p>
{% endblock %}

<script>
    function confirmLogin() {
        // Здесь вызывайте функцию confirmLogin из Python
        // Это может быть сделано с помощью AJAX-запроса к серверу, где работает ваш Python-код
        // Например:
        $.ajax({
            url: '/confirm_login', // URL, по которому ваш сервер ожидает запрос для подтверждения логина
            method: 'POST', // Метод запроса, возможно, вам нужен POST
            success: function (response) {
                // В случае успеха обновите содержимое <a> элемента
                document.getElementById('confirmationMessage').innerText = response.message;
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    setInterval(confirmLogin, 1000);
</script>
