<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monoton&display=swap">
    <link rel="shortcut icon" href="../static/img/mine.svg"/>
    <title>{% block title %}LinyX{% endblock %}</title>
</head>
<body id="body">
<div class="navbar-shapes">
    {% for _ in range(6) %}
        <div class="navbar-shape"></div>
    {% endfor %}
</div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand" id="linyx" href="{{ url_for('index') }}">LinyX</a>

        {% if current_user and current_user.is_authenticated %}
            <div class="cart-button mx-auto" id="all-products-svg-btn">
                <svg
                        viewBox="0 0 25 25"
                        fill="none"
                        stroke="gray"
                        stroke-width="1.2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        xmlns="http://www.w3.org/2000/svg"

                >
                    <path d="M3 10H21L19 20H5M3 10L4 15M3 10L9 4M18 7L15 4" href="{{ url_for('account') }}"></path>

                </svg>
            </div>
        {% endif %}

        <div class="navbar-nav">
            {% if current_user and current_user.is_authenticated %}
                <div class="nav-item mx-1">
                    <button class="nav-link change-color btn btn-outline-light"
                            onclick="window.location.href='{{ url_for('account') }}'">Личный кабинет
                    </button>
                </div>
                <div class="nav-item mx-1">
                    <button class="nav-link change-color btn btn-outline-light"
                            onclick="window.location.href='{{ url_for('logout') }}'">Выход
                    </button>
                </div>
            {% else %}
                <div class="nav-item mx-1">
                    <button class="nav-link change-color btn btn-outline-light"
                            onclick="window.location.href='{{ url_for('login') }}'">Вход
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<div class="alerts">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="popup alert-{{ category }} p-2 border-0 rounded" role="alert">
                    {% if category == 'error' %}
                        <strong>Error:</strong> {{ message }}
                    {% else %}
                        {{ message }}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="day-night-check mx-2">
    <label class="day-night mt-2">
        <input type="checkbox" checked/>
        <div></div>
    </label>
</div>
{% block parallax %}{% endblock %}
<div class="container">
    {% block content %}{% endblock %}
</div>

{% block footer %}{% endblock %}

<dialog id="productDialog" class="dialog">
    <iframe src="" width="100%" height="100%" class="dialog-iframe"></iframe>
</dialog>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function showPopup() {
            const popup = document.querySelector('.popup');
            popup.style.display = 'block';

            setTimeout(function () {
                popup.style.display = 'none';
            }, 3000);
        }

        const messages = document.querySelectorAll('.popup');
        if (messages.length > 0) {
            showPopup();
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function openProductDialog(url) {
        let dialog = document.getElementById('productDialog');
        let iframe = dialog.querySelector('iframe');
        iframe.src = url;
        dialog.showModal();
    }

    let dialog = document.getElementsByTagName('productDialog')[0];
    document.addEventListener('click', function (event) {
        let dialog = document.getElementById('productDialog');
        let targetElement = event.target;

        if (targetElement === dialog) {
            dialog.close();
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const bodyElement = document.querySelector("body");
        const toggleCheckbox = document.querySelector(".day-night input");

        const isDarkMode = localStorage.getItem('darkMode') === 'true';

        window.addEventListener('pageshow', function (event) {
            if (event.persisted || isDarkMode) {
                updateTheme(isDarkMode);
            }
        });

        updateTheme(isDarkMode);

        function showPopup() {
            const popup = document.querySelector('.popup');
            popup.style.display = 'block';

            setTimeout(function () {
                popup.style.display = 'none';
            }, 3000);
        }

        const messages = document.querySelectorAll('.popup');
        if (messages.length > 0) {
            showPopup();
        }

        toggleCheckbox.addEventListener("change", () => {
            const newMode = toggleCheckbox.checked;
            updateTheme(newMode);

            localStorage.setItem('darkMode', newMode);
        });

        function updateTheme(isDark) {
            bodyElement.classList.add("toggle");

            setTimeout(() => {
                bodyElement.classList.toggle("dark", isDark);
                bodyElement.classList.toggle("light", !isDark);

                const changeColorElements = document.querySelectorAll(".change-color");
                changeColorElements.forEach(element => {
                    element.classList.toggle("btn-outline-dark", !isDark);
                    element.classList.toggle("btn-outline-light", isDark);
                });

                setTimeout(() => {
                    bodyElement.classList.remove("toggle");
                }, 10);
            }, 5);
        }
    });
</script>
<script>
    let text = "play.linyx.ru";
    const copyToClipboard = async () => {
        try {
            await navigator.clipboard.writeText(text);
            const button = document.getElementById('copy-ip');
            button.innerText = 'Скопировано!';
            button.classList.add('copied');
            setTimeout(() => {
                button.innerText = 'IP: play.linyx.ru';
                button.classList.remove('copied');
            }, 3000);
            console.log('Скопировано');
        } catch (err) {
            console.error('Не удалось скопировать: ', err);
        }
    }
</script>
<script>
    document.addEventListener("scroll", function () {
        const parallax = document.querySelector(".parallax");
        const scrollPosition = window.scrollY;

        parallax.style.backgroundPositionY = -scrollPosition * 0.5 + "px";
    });

</script>
<script>
    document.getElementById('all-products-svg-btn').addEventListener("click", function () {
        window.location.href = '{{ url_for('account') }}';
    });
</script>
<script>
    let isScrolling = false;

    function scrollPage(direction) {
        isScrolling = true;

        const parallax = document.querySelector(".parallax");
        const scrollPosition = window.scrollY;

        parallax.style.backgroundPositionY = -scrollPosition * 0.5 + "px";

        if (direction === 'down' && window.scrollY < parallax.offsetHeight) {
            window.scrollTo({
                top: document.querySelector('.product-table').offsetTop,
            });
        }
        if (direction === 'up' && (window.scrollY <= parallax.offsetHeight + 100)) {
            window.scrollTo({
                top: 0,
            });
        }

        setTimeout(() => {
            isScrolling = false;
        }, 500);
    }

    window.addEventListener('scroll', function () {
        if (!isScrolling) {
            requestAnimationFrame(() => scrollPage());
        }
    });

    function scrollToDonation() {
        scrollPage('down');
    }

    window.addEventListener('wheel', function (event) {
        const direction = event.deltaY > 0 ? 'down' : 'up';
        if (!isScrolling) {
            requestAnimationFrame(() => scrollPage(direction));
        }
    });
</script>
</body>
</html>
