<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monoton&display=swap">
    <link rel="shortcut icon" href="../static/img/mine.svg"/>
    <title>{% block title %}LinyX{% endblock %}</title>
</head>
<body id="body">
<nav class="navbar navbar-expand-lg">
    <div class="d-flex justify-content-between w-100">
        <div class="logo">
            <a href="{{ url_for('index') }}"><img src="../static/img/logo.jpg" alt="" class=""></a>
        </div>

        {% if current_user and current_user.is_authenticated %}
            <div class="cart-button mt-auto mb-auto" id="all-products-svg-btn">
                <svg
                        viewBox="0 0 25 25"
                        fill="none"
                        stroke="gray"
                        stroke-width="1.2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        xmlns="http://www.w3.org/2000/svg"

                >
                    <path d="M3 10H21L19 20H5M3 10L4 15M3 10L9 4M18 7L15 4"></path>

                </svg>
            </div>
        {% endif %}

        <div class="navbar-nav pc-navbar mt-auto mb-auto justify-content-end">
            {% if current_page == 'index' %}
                {% if current_user and current_user.is_authenticated %}
                    <div class="nav-item mx-1">
                        <button class="btn btn-outline-light"
                                onclick="window.location.href='{{ url_for('account') }}'">Личный кабинет
                        </button>
                    </div>
                    <div class="nav-item mx-1">
                        <button class="btn btn-outline-light"
                                onclick="window.location.href='{{ url_for('logout') }}'">Выход
                        </button>
                    </div>
                {% else %}
                    <div class="nav-item mx-1">
                        <button class="btn btn-outline-light"
                                onclick="window.location.href='{{ url_for('login') }}'">Вход
                        </button>
                    </div>
                {% endif %}
            {% else %}
                {% if current_user and current_user.is_authenticated %}
                    <div class="nav-item mx-1">
                        <button class=" change-color btn btn-outline-light"
                                onclick="window.location.href='{{ url_for('account') }}'">Личный кабинет
                        </button>
                    </div>
                    <div class="nav-item mx-1">
                        <button class=" change-color btn btn-outline-light"
                                onclick="window.location.href='{{ url_for('logout') }}'">Выход
                        </button>
                    </div>
                {% else %}
                    <div class="nav-item mx-1">
                        <button class=" change-color btn btn-outline-light"
                                onclick="window.location.href='{{ url_for('login') }}'">Вход
                        </button>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="dropdown mt-auto mb-auto ">
            <button class="btn btn-outline-light dropdown-toggle change-color" type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>


            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if current_user and current_user.is_authenticated %}
                    <button class="dropdown-item btn btn-outline-light black-white-text"
                            onclick="window.location.href='{{ url_for('account') }}'">Личный
                        кабинет
                    </button>
                    <button class="dropdown-item btn btn-outline-light black-white-text"
                            onclick="window.location.href='{{ url_for('logout') }}'">Выход
                    </button>
                {% else %}
                    <button class="dropdown-item btn btn-outline-light black-white-text"
                            onclick="window.location.href='{{ url_for('login') }}'">Вход
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<div class="alerts">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="popup alert-{{ category }} p-2 border-0 rounded" role="alert">
                    {% if category == 'error' %}
                        <strong>Error:</strong> {{ message }}
                    {% else %}
                        {{ message }}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="day-night-check mx-2">
    <label class="day-night mt-2">
        <input type="checkbox" checked/>
        <div></div>
    </label>
</div>

{% block parallax %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

{#<script type="text/javascript" src="../static/js/ScrollBetweenElements.js"></script>#}
{#<script src="../static/js/scroll.js"></script>#}

{#<script type="text/javascript" src="../static/js/ScrollBetweenElements.js"></script>#}
{#<script type="text/javascript">#}

{#    $(document).ready(function () {#}
{#        $('body,html').animate({scrollTop: 0}, 500);#}
{#        ScrollBetweenElements.init(400, "linear", true);#}
{#        ScrollBetweenElements.addElement($("#section1"));#}
{#        ScrollBetweenElements.addElement($("#section2"));#}
{#    });#}
{#</script>#}


{# бутстрап и jquery #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

{# gsap #}
<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollToPlugin.min.js"></script>


{# .hidden класс для описания #}
<script src="../static/js/hide-desc.js"></script>

{# уведомления #}
<script src="../static/js/notifications.js"></script>

{# день ночь #}
<script src="../static/js/day-night.js"></script>

{# копировать айпи #}
<script src="../static/js/copy-ip.js"></script>

{# онлайн #}
<script src="../static/js/server-online.js"></script>

{# скролл картинки параллакса #}
<script src="../static/js/parallax-scroll.js"></script>

{# анимация фильтра продуктов #}
<script src="../static/js/filter-animation.js"></script>

{# очистка описания продукта и надпись загрузки #}
<script src="../static/js/clear-desc.js"></script>


{# div описания товара #}
<script>
    function openProductDialog(product_id) {
        const isDarkMode = localStorage.getItem('darkMode') === 'true';
        fetch(`/product_info/${product_id}`)
            .then(response => response.json())
            .then(product_info => {
                console.log(product_info['response']);
                let productDetails = document.getElementById('productDetails');
                productDetails.innerHTML = '';
                if (product_info['response']['name'] === 'Eola') {
                    productDetails.innerHTML = `

<div class="close-link">
    <a class="svg-link close-dialog" onclick="removeTags(); hideProductDetails()">
        <svg
            viewBox="0 0 25 25"
            fill="none"
            stroke="gray"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5"></path>
            <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7"></path>
        </svg>
    </a>
</div>
<div class="d-flex product-info">
    <div class="d-flex p-2 flex-column desc-text">
        <h4 class="gradient-eola">${product_info['response']['name']}</h4>
        <p class="black-white-text description-card-text"><b>Описание: </b>${product_info['response']['description']}</p>
    </div>
    <div class="d-flex ms-auto product-image product-image-main mb-2 p-2 align-items-center "><img src="${product_info['response']['image']}" class="" alt=""></div>
</div>
<div class="d-flex flex-row w-100 mt-auto">
    <button class="change-color btn btn-outline-light btn-lg mt-auto mb-auto w-50" onclick="buyProduct(${product_id})">Купить</button>
    <p class="black-white-text description-card-price mt-auto mb-auto ms-3 "><b>Цена: </b>${product_info['response']['price']} р.</p>
</div>
                `;
                } else {
                    productDetails.innerHTML = `

<div class="close-link">
    <a class="svg-link close-dialog" onclick="removeTags(); hideProductDetails()">
        <svg
            viewBox="0 0 25 25"
            fill="none"
            stroke="gray"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5"></path>
            <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7"></path>
        </svg>
    </a>
</div>
<div class="d-flex product-info">
    <div class="d-flex p-2 flex-column desc-text">
        <h4 class="gradient-eola">${product_info['response']['name']}</h4>
        <p class="black-white-text description-card-text"><b>Описание: </b>${product_info['response']['description']}</p>
    </div>
    <div class="d-flex ms-auto product-image product-image-main mb-2 p-2 align-items-center "><img src="${product_info['response']['image']}" class="" alt=""></div>
</div>
<div class="d-flex flex-row w-100">
    <button class="change-color btn btn-outline-light btn-lg mt-auto mb-auto w-50" onclick="buyProduct(${product_id})">Купить</button>
    <p class="black-white-text description-card-price mt-auto mb-auto ms-3 "><b>Цена: </b>${product_info['response']['price']} р.</p>
</div>
                `;
                }

                productDetails.classList.remove('hidden');
                updateTheme(isDarkMode);
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при загрузке информации о товаре. Попробуйте еще раз.');
            });
    }

    document.addEventListener('click', function (event) {
        let productDetails = document.getElementById('productDetails');
        let targetElement = event.target;

        if (targetElement === productDetails) {
            productDetails.classList.add('hidden');
        }
    });
</script>

{# клик с свг корзины на страницу товаров #}
<script>
    document.getElementById('all-products-svg-btn').addEventListener("click", function () {
        window.location.href = '{{ url_for('products') }}';
    });
</script>

{# создание платежа #}
<script>
    function buyProduct(product_id) {
        fetch(`/buy_product/${product_id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.top.location.href = data['payment_url'];
                } else {
                    alert('Ошибка при создании платежа');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Произошла ошибка. Попробуйте еще раз.');
            });
    }
</script>

</body>
</html>
