<!-- login.html -->
{% extends 'base.html' %}
{% block title %}Принять{% endblock %}
{% block content %}
    <div class="container mt-5 text-center">
        <div class="w-100 d-flex align-items-center justify-content-center waiting-pic">
            <img src="../static/img/waiting.jpg" class="shadow-sm rounded" alt="">
        </div>
        <div>
            <a class="black-white-text confirm-text-a mt-5 mb-2">Ожидание подтверждения</a>
        </div>

        <div>
            <a class="black-white-text confirm-text-gray mt-3">Время подтверждения истечёт через 30 секунд. Нужно нажать
                одну из кнопок в Дискорде.</a>
        </div>
    </div>
    <script>
        function checkStatus() {
            $.ajax({
                url: "{{ url_for('operation_status') }}",
                type: "GET",
                data: {nickname: '{{ nickname }}'},
                success: function (response) {
                    if (response.status === 'complete') {
                        window.location.href = '{{ url_for('index') }}';
                    } else {
                        if (response.status === 'processing') {
                            setTimeout(checkStatus, 1000);
                        } else {
                            if (response.status === 'error') {
                                window.location.href = '{{ url_for('login') }}';
                                alert("Auth denied with reason: " + response.error_content);
                            }
                        }
                    }
                }
            });
        }

        setTimeout(checkStatus, 1000);
    </script>
{% endblock %}
