<!-- login.html -->
{% extends 'base.html' %}
{% block title %}Принять{% endblock %}
{% block content %}
    <div class="container">
        <a class="black-white-text confirm-text">Ожидание подтверждения</a>
    </div>
    <div class="container">
        <a class="black-white-text confirm-text">После подтверждения в Дискорде обновите страницу</a>
    </div>
    <div class="container">
        <a class="black-white-text confirm-text">Время подтверждения истечёт через 30 секунд. По истечении этого времени
            вы либо
            войдете в аккаунт (при
            подтверждении в Дискорде), либо выйдете на главную страницу</a>
    </div>
    <script>
<!--Liny start-->


        function checkStatus() {
            $.ajax({
                url: "{{ url_for('operation_status') }}",
                type: "GET",
                data: {nickname: '{{ nickname }}'},
                success: function (status_response) {
                    if (status_response.redirect) {
                        window.location.href = response.redirect;
                    } else {
<!--                    Check data for error contains-->
                        setTimeout(checkStatus, 2000);
                    }
                }
            });
        }


<!--    For namespace '&'   -->
        setTimeout(checkStatus, 2000);
<!--    Error               -->
<!--    checkStatus();      -->



<!--        function checkConfirmation() {-->
<!--            $.ajax({-->
<!--                url: "{{ url_for('confirm_login') }}",-->
<!--                type: "GET",-->
<!--                data: {nickname: '{{ nickname }}'},-->
<!--                success: function (response) {-->
<!--                    if (response.redirect) {-->
<!--                        window.location.href = response.redirect;-->
<!--                    }-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--        setInterval(checkConfirmation, 1000);-->


<!--Liny End-->
    </script>
{% endblock %}
