<!-- login.html -->
{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="shapes">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form method="post" action="{{ url_for('login') }}" class="login-form black-white-text">

        <h3>Войдите</h3>
        {{ form.hidden_tag() }}

        <div class="form-group black-white-text">
            {{ form.name.label(class="form-control-label login-label black-white-text", for="username") }}
            {{ form.name(class="form-control login-input", type="text", id="username") }}
        </div>

{#        <div class="form-group black-white-text">#}
{#            {{ form.password.label(class="form-control-label login-label black-white-text", for="password") }}#}
{#            {{ form.password(class="form-control login-input", type="password", id="password") }}#}
{#        </div>#}

        <div class="form-group black-white-text">
            {{ form.submit(class="btn btn-login btn-outline-light change-color") }}
        </div>
    </form>

{% endblock %}
