{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4 ">
        <div class="d-flex flex-row gradient-border px-2 py-4 all-products-container">
            <div class="w2 me-3">
                <div class="category-filter d-flex flex-wrap justify-content-center">
                    <div class="w-100 sort-btn mx-1">
                        <button class="btn btn-outline-light btn-category mb-2 change-color w-100"
                                onclick="filterProducts('Всё')">Всё
                        </button>
                        <div class="stick-light-sm rounded"></div>
                    </div>

                    <div class="w-100 sort-btn mx-1">
                        <button class="btn btn-outline-light btn-category mb-2 change-color w-100"
                                onclick="filterProducts('Привилегия')">Привилегия
                        </button>
                        <div class="stick-light-sm rounded"></div>
                    </div>

                    <div class="w-100 sort-btn mx-1">
                        <button class="btn btn-outline-light btn-category mb-2 change-color w-100"
                                onclick="filterProducts('Предмет')">Предмет
                        </button>
                        <div class="stick-light-sm rounded"></div>
                    </div>

                    <div class="w-100 sort-btn mx-1">
                        <button class="btn btn-outline-light btn-category mb-2 change-color w-100"
                                onclick="filterProducts('Валюта')">Валюта
                        </button>
                        <div class="stick-light-sm rounded"></div>
                    </div>

                    <div class="w-100 sort-btn mx-1 ">
                        <button class="btn btn-outline-light btn-category mb-2 change-color w-100"
                                onclick="filterProducts('Кейс')">Кейс
                        </button>
                        <div class="stick-light-sm rounded"></div>
                    </div>
                </div>
            </div>
            <div class="w8">
                <div id="productDetails" class="hidden product-details">
                    <p class="">Подождите...</p>
                </div>
                <div class="row ms-4" id="productGrid">
                    {% for product in products_info['response'] %}
                        <div class="card ms-2 mb-3 product-card"
                             onclick="showProductDetails(); openProductDialog('{{ product['id'] }}')"
                             data-description="{{ product['description'] }}">
                            <div class="card-name-icon d-flex mt-auto">
                                <h4 class="card-name">{{ product['name'] }}</h4>
                                <span class="icon">
                                <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M16 9L20 5V16H4V5L6 7M8 9L12 5L14 7M4 19H20"></path>
                                </svg>
                            </span>
                            </div>
                            <p class="mb-2">
                                {{ product['price'] }} рублей
                            </p>
                            <button type="button" class="btn btn-outline-light btn-more more-info change-color">
                                Подробнее
                            </button>
                            <div class="shine"></div>
                            <div class="background">
                                <div class="tiles">
                                    <div class="tile tile-1"></div>
                                    <div class="tile tile-2"></div>
                                    <div class="tile tile-3"></div>
                                    <div class="tile tile-4"></div>

                                    <div class="tile tile-5"></div>
                                    <div class="tile tile-6"></div>
                                    <div class="tile tile-7"></div>
                                    <div class="tile tile-8"></div>

                                    <div class="tile tile-9"></div>
                                    <div class="tile tile-10"></div>
                                </div>

                                <div class="line line-1"></div>
                                <div class="line line-2"></div>
                                <div class="line line-3"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}