<!DOCTYPE html>
<html lang="en" class="detail-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>{% block title %}LinyX{% endblock %}</title>
</head>
<body>
<div>
    <div>
        <h3>{{ product_info['response']['name'] }}</h3>
    </div>

    <div>
        <p><strong>Цена:</strong> {{ product_info['response']['price'] }}</p>
    </div>

    <div>
        <form method="POST">
            {% if current_user.is_authenticated %}
                <button id="buyButton" class="btn btn-primary" onclick="closeProductDialog()">Купить</button>
            {% else %}
                <p>Чтобы совершить покупку, войдите в свой аккаунт.</p>
            {% endif %}
        </form>
    </div>
</div>
<script>
    function closeProductDialog() {
        let dialog = document.getElementById('productDialog');
        dialog.close();
    }
</script>
</body>
</html>
